<base-toolbar></base-toolbar>
<div class="page-content">
    <div class="custom-box">
        <div class="box-header">
            <h3>Complaints</h3>
            <div class="box-tools">
                <button mat-stroked-button color="primary">
                    Add New
                </button>
            </div>
        </div>
        <div class="box-body">
            <table mat-table [dataSource]="dataSource">
                <!-- Index Column -->
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element; let index = index"> {{ index + 1 }} </td>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>
        
                <!-- Weight Column -->
                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{ element.creationDate | date }} </td>
                </ng-container>
        
                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>