@import '~@angular/material/theming';
@import "./assets/css/material-icons.css";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #ecf0f5;
}

.page-content {
    display: flex;
    padding: 25px;

    .custom-box {
        box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
        flex: 1;
        background-color: #fff;

        .box-header {
            display: flex;
            flex-direction: row;
            padding: 0 25px;

            h3 {

            }

            .box-tools {
                display: inline-flex;
                flex-direction: row;
                margin-left: auto;

                button {
                    height: fit-content;
                    margin: auto;
                }
            }
        }

        .box-body {
            table {
                width: 100%;
            }
        }
    }
}