<h1 mat-dialog-title>Complaint Info</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col w-50" style="margin-right: 12px;">
            <div class="row info-line">
                <span class="label">Title</span>
                <span class="value">{{data.title}}</span>
            </div>
            <div class="row info-line">
                <span class="label">Description</span>
                <span class="value">{{data.description}}</span>
            </div>
            <div class="row info-line">
                <span class="label">Date</span>
                <span class="value">{{data.creationDate | date }}</span>
            </div>
        </div>
        <div class="col w-50" style="margin-right: 12px;">
            <div class="row info-line">
                <span class="label">Status</span>
                <span class="value">{{ data.status | titlecase }}</span>
            </div>
            <div class="row info-line">
                <span class="label">Action by</span>
                <span class="value">{{data.changedBy || 'N/A'}}</span>
            </div>
            <div class="row info-line">
                <span class="label">Action Date</span>
                <span class="value">{{ data.changeDate? (data.changeDate | date): 'N/A' }}</span>
            </div>
            <div class="row info-line">
                <span class="label">Notes</span>
                <span class="value">{{data.notes || 'N/A' }}</span>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close style="margin-left: auto;">Cancel</button>
</div>