<h1 mat-dialog-title>Complaint Form</h1>
<div mat-dialog-content>
  <form [formGroup]="complaintForm">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput required formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput required formControlName="description" rows="6"></textarea>
      </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close style="margin-left: auto;">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="complaintForm.value" color="primary" [disabled]="complaintForm.invalid">Save</button>
</div>