<h1 mat-dialog-title>Complaint Form</h1>
<div mat-dialog-content>
  <form [formGroup]="complaintForm">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput required formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Describtion</mat-label>
        <textarea matInput required formControlName="describtion" rows="6"></textarea>
      </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close style="margin-left: auto;">Cancel</button>
  <button mat-raised-button color="primary">Save</button>
</div>